name: Vana SDK Pre-release

on:
  push:
    branches:
      - feature/data-portability-sdk-v1
      - feat/compressed-key-support
      - tim/pro-526-personal-server-agent-operation-poc
      - chore/PRO-775/integrate-pge
      - fix/update-lockfile

jobs:
  publish-prerelease:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          registry-url: "https://registry.npmjs.org"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Set pre-release version
        run: |
          cd packages/vana-sdk
          CURRENT_VERSION=$(node -p "require('./package.json').version")
          SHORT_SHA=$(git rev-parse --short HEAD)
          npm version "${CURRENT_VERSION}-canary.${SHORT_SHA}" --no-git-tag-version --allow-same-version

      - name: Build and Publish canary pre-release
        run: |
          cd packages/vana-sdk
          NODE_OPTIONS="--max-old-space-size=4096" npm run build && npm publish --tag canary
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN_TIM }}
